<section class="d-flex justify-content-center mt-5 mb-3 align-items-center">
  <% if controller_name == "pages" %>
    <h1>Beach Tennis Itanhangá - Ranking</h1>
  <% elsif controller_name == "matches" %>
    <h1>Beach Tennis Itanhangá - Partidas</h1>
  <% else %>
    <h1>Beach Tennis Itanhangá - Jogadores</h1>
  <% end %>
</section>
