<section id="prime" data-controller="sections-home">

  <%= render 'shared/menu_options' %>

  <div id="options">
    <%# Ranking %>
    <div>
      <div class="option table-responsive" id="option-1">
        <%= render 'ranking' %>
      </div>

      <%# Ranking Feminino %>
      <div class="d-none table-responsive option" id="option-2">
        <%= render 'female_ranking' %>
      </div>
    </div>


    <%# Partidas %>
    <%# <div class="d-none option" id="option-3"> %>
      <%# render 'matches' %>
    <%# </div> %>

    <%# Jogadores %>
    <div class ="d-none option" id="option-4">
      <%= render 'players' %>
    </div>

  </div>
</section>
