<h1>Beach Tennis Itanhangá - Ranking</h1>

<hr>

<section id="prime" data-controller="sections-home">

  <div id="menu-options">
    <h4 data-value="1" data-action="click->sections-home#show">Ranking Geral</h4>
    <h4 data-value="2" data-action="click->sections-home#show">Ranking Feminino</h4>
    <h4 data-value="3" data-action="click->sections-home#show">Partidas</h4>
    <h4 data-value="4" data-action="click->sections-home#show">Jogadores</h4>
  </div>

  <div id="options">
    <%# Ranking %>
    <div class="option" id="option-1">
      <%= render 'ranking' %>
    </div>

    <%# Ranking Feminino %>
    <div class="d-none option" id="option-2">
      <%= render 'female_ranking' %>
    </div>

    <%# Partidas %>
    <div class="d-none option" id="option-3">
      <%= render 'matches' %>
    </div>

    <%# Jogadores %>
    <div class ="d-none option" id="option-4">
      <%= render 'players' %>
    </div>

  </div>
</section>
